/*title for the webpage on the browser*/
.title {
	padding: 0.73% 1.3%;
	text-align: center;
}


/*black background to contrast the blue theme of the website*/
body {
	background-color: black;
}
/*interactivity of any link to make the user more engaged*/
a:hover {
  background-color: white;
  color: black;
}

/*interactivity of icon images to make the wbsite exciting and more engaging*/
.theme-imgs img:hover {
  background-color: white;
  border-radius: 15%;
  border: 5px solid white;
}

/*the uppermost division in which the navigation is present*/
.div1 {
	background-color: #0009BD;
	text-align: center;
	width: 100%;
	height: 75px;
	display: inline-block;
	overflow: hidden;
}

/*the navigation buttons which redirect to three different pages*/
.head-pages {
	margin-left: 10%;
	margin-right: 10.5%;
	text-align: center;
	text-decoration: none;
	color: white;
	padding: 0.73% 1.1%;
	background-color:#0009BD; 
	font-family: 'Bebas Neue', cursive;
	letter-spacing: 3px;
	font-size: 150%;
	overflow: hidden;
	border-radius: 2%;
}

/*the upmost title of the page*/
h1 {
	color: #ffffff;
	text-align: center;
	letter-spacing: 2px;
}

/*the secondary title of the founders of the website*/
h2 {
	color: #ffffff;
	text-align: center;
	letter-spacing: 1px;
	font-family: 'Montserrat', sans-serif;
	}

/*class for the paragraph text of introducing founders*/
h4 {
	color: #ffffff;
	line-height: 8px
	padding: 80px;
	font-family: 'Montserrat', sans-serif;
	font-size: 120%;
	margin-right: 7%;
	margin-left: 7%;
	text-align: justify;
}

/*most important division which contains the names, images, and captions*/
.names {
	display:block;
	width:100%;
	padding-bottom: 7%;
}
/*format of the images class to make them equally centered from one another*/
.imgs {
	margin-left: 2.6%;
	margin-right: 2.5%;
	border: 0px solid black;
	border-radius: 15%;
}

/*bigger division containing repeated classes for each picture*/
.theme-imgs {
	display: inline-flex;
	width:100%;
}

/*container of the names */
.name-heads {
	display: inline-flex;
	width:100%;
}

/*style of the texts for h3 and h5*/
.h3-themes {
	width:100%;
	display:inline-flex;
	margin-top: 0px;
	margin-bottom: 0px;
}

/*smallest unit of classes which contains style for each individual word*/
.header-themes {
	width: 100%;
	margin-left: 2.5%;
	margin-right: 2.5%;
	text-align: center;
	color: white;
	background-color: #0009BD;
	font-family: 'Bebas Neue', cursive;
	letter-spacing: 2px;
	font-size: 130%;
	overflow: hidden;

}

/*similar class to the above but with different dimensions and colors for the captions of the images*/
.header-themes2 {
	width: 100%;
	margin-left: 0.5%;
	margin-right: 0.5%;
	text-align: center;
	color: white;
	padding: 0.73% 1.3%;
	font-family: 'Roboto', sans-serif;
	overflow: hidden;
	font-size: 150%;	
}

/*footer division that wraps up the webpage*/
.footer {
	background-color: #0009BD;
	text-align: center;
	width: 100%;
	height: 220px;
	margin-bottom: 0px;
	display: inline-block;
	overflow: hidden;
}
/*details about the h5 font inside footer*/
.footer h5 {
	color: black;
 	font-size: 1.2rem;
 	text-align: center;
 	font-family: 'Montserrat', sans-serif;
 	font-weight: bolder;
}
/*details about h6 font inside footer*/
h6 {
	color: #f2f2f2;
 	font-size: 0.6rem;
 	text-align: center;
 	font-family: 'Montserrat', sans-serif;
 	font-size: 1.1rem;
}