/*title for the webpage on the browser*/
.title {
	padding: 0.73% 1.3%;
	text-align: center;
}


/*black background to contrast the blue theme of the website*/
body {
	background-color: black;
}
/*interactivity of any link to make the user more engaged*/
a:hover {
  background-color: white;
  color: black;
}

/*interactivity of icon images to make the wbsite exciting and more engaging*/
.theme-imgs img:hover {
  background-color: white;
  border-radius: 15%;
  border: 5px solid white;
}

/*the uppermost division in which the navigation is present*/
.div1 {
	background-color: #0009BD;
	text-align: center;
	width: 100%;
	height: 75px;
	display: inline-block;
	overflow: hidden;
}

/*the navigation buttons which redirect to three different pages*/
.head-pages {
	margin-left: 10%;
	margin-right: 10.5%;
	text-align: center;
	text-decoration: none;
	color: white;
	padding: 0.73% 1.3%;
	background-color:#0009BD; 
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	letter-spacing: 3px;
	font-size: 150%;
	overflow: hidden;
	border-radius: 2%;
}

/*the upmost title of the page*/
h1 {
	color: #ffffff;
	text-align: center;
	letter-spacing: 2px;
}
/*division for video title and video which is unique for the gradient in the background*/
.upper {
	display: block;
	height: 438px;
	background-image: linear-gradient(white, #89CFF0);
	width:100%;
	letter-spacing: 1px;
	margin-bottom: 1.8%;
	margin-top: 1.8%
	padding-bottom:2%;
}

/*division for the dimensions of the video*/
.latest-video {
	display:block;
	width: 48%;
	height: 345px;
	padding-bottom: 2%
}

/*class for the decoration of the video itself*/
.vid {
/*	border: 10px solid black;
	box-sizing: border-box;*/
	margin-top: 3%;
	margin-left: 2%;
}


/*division for the title of the latest video*/
/*.intros {
	display:block;
	color: black;
	width: 100%;
	text-align: center;
	margin: auto;
	font-size: 1.5rem;
	padding-top: 2%;
	font-family: 'Montserrat', sans-serif;
}*/

/*big division holding other divisions for each episode's title*/
.episode-heads {
	display: inline-flex;
	width:100%;
}

/*style of the texts for episode titles*/
.h3-episodes {
	width:100%;
	display:inline-flex;
	margin-top: 0px;
	margin-bottom: 0px;
}

/*class for the individual title words*/
.header-episodes {
	width: 100%;
	margin-left: 4%;
	margin-right: 5%;
	text-align: center;
	color: black;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 2px;
	font-size: 150%;
	overflow: hidden;
}


/*footer division that wraps up the webpage*/
.footer {
	background-color: #0009BD;
	text-align: center;
	width: 100%;
	height: 20%;
	margin-bottom: 0px;
	display: inline-block;
	overflow: hidden;
}

/*details about the h5 font inside footer*/
.footer h5 {
	color: black;
 	font-size: 1.2rem;
 	text-align: center;
 	font-family: 'Montserrat', sans-serif;
 	font-weight: bolder;
}

/*details about h6 font inside footer*/
h6 {
	color: #f2f2f2;
 	font-size: 0.6rem;
 	text-align: center;
 	font-family: 'Montserrat', sans-serif;
 	font-size: 1.1rem;
}