/*title for the webpage on the browser*/
.title {
	padding: 0.73% 1.3%;
	text-align: center;
}

/*black background to contrast the blue theme of the website*/
body {
	background-color: black;
}

/*interactivity of any link to make the user more engaged*/
a:hover {
  background-color: white;
  color: black;
}

/*interactivity of icon images to make the wbsite exciting and more engaging*/
.theme-imgs img:hover {
  background-color: white;
  border-radius: 100%;
  cursor: pointer;
}

/*the uppermost division in which the navigation is present*/
.div1 {
	background-color: #0009BD;
	text-align: center;
	width: 100%;
	height: 75px;
	display: inline-block;
	overflow: hidden;
}

/*the navigation buttons which redirect to three different pages*/
.head-pages {
	margin-left: 10%;
	margin-right: 10.5%;
	text-align: center;
	text-decoration: none;
	color: white;
	padding: 0.73% 1.3%;
	background-color:#0009BD; 
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 3px;
	font-size: 170%;
	overflow: hidden;
	border-radius: 2%;
}

/*the upmost title of the page*/
h1 {
	color: #ffffff;
	text-align: center;
	letter-spacing: 2px;
	
}

/*division for video title and video which is unique for the gradient in the background*/
.upper {
	display: block;
	height: 100%;
	background-image: linear-gradient(white, #89CFF0);
	width:100%;
	letter-spacing: 1px;
}

/*division for the title of the latest video*/
.intros {
	display:block;
	color: black;
	width: 100%;
	text-align: center;
	font-size: 1.5rem;
	padding-top: 2%;
	font-family: 'Montserrat', sans-serif;
}

/*division for the dimensions of the video*/
.latest-video {
	display:block;
	width: 41%;
	height: 100%;
	margin: auto;
	padding-bottom: 2%
}

/*class for the decoration of the video itself*/
.vid {
	border: 10px solid black;
	box-sizing: border-box;
}

/*biggest division containing multiple divisions for the theme names, pictures, and titles*/
.themes {
	display:block;
	width:100%;
	padding-bottom: 7%;
}

/*division for the title at the top of the theme division*/
.intro-themes {
	display:block;
	background-color: #0009BD;
	color: white;
	width: 100%;
	text-align: center;
	font-size: 1.5rem;
	font-family: 'Montserrat', sans-serif;
}

/*big division holding other divisions for each themes' title*/
.theme-heads {
	display: inline-flex;
	width:100%;
}

/*style of the texts for h3 and h5*/
.h3-themes {
	width:100%;
	display:inline-flex;
	margin-top: 0px;
	margin-bottom: 0px;
}

/*class for the individual title words*/
.header-themes {
	width: 100%;
	margin-left: 4%;
	margin-right: 5%;
	text-align: center;
	color: white;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 2px;
	font-size: 150%;
	overflow: hidden;
}

/*outer division for the image class*/
.theme-imgs {
	display: inline-flex;
	width:100%;
}

/*class for the specific images for each theme*/
.imgs {
	margin-left: 9.3%;
	margin-right: 9.3%;
	border: 3px solid black;
}

/*interactive text which appears using js when mouse hovers over image of each theme*/
.header-themes2 {
	width: 100%;
	margin-left: 2%;
	margin-right: 2%;
	text-align: center;
	color: white;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 1px;
	overflow: hidden;
	font-size: 150%;	
}

/*division for the barrier title which shows the start of the slideshow section*/
.intro-themes2 {
	display:block;
	color: white;
	background-color: #0009BD;
	width: 100%;
	text-align: center;
	font-size: 1.5rem;
	font-family: 'Montserrat', sans-serif;
}


/*<!-- this part has been copied from bootstrap to make a slideshow of picturesfrom nayure. Here is the URL of the website: https://www.w3schools.com/howto/howto_js_slideshow.asp-->*/
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position:absolute;
  top: 50%;
  width: auto;
  margin-top: -2.86%;
  padding: 1.17% 2.083%;
  color: white;
  font-weight: bold;
  font-size: 36px;
  font-family: 'Montserrat', sans-serif;
  transition: 0.6s ease;
  border-radius: 0 0.22% 0.39% 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 0.22% 0 0 0.39%;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 1rem;
  width: 100%;
  text-align: center;
  margin-top: 1%;
  font-family: 'Montserrat', sans-serif;
}

/* Number text (1/4 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 1rem;
  padding: 0.59% 1.56%;
  position: absolute;
  color: white;
  background-color: black;
  width: 6%;
  margin-top: 2%;
  font-family: 'Montserrat', sans-serif;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  margin-bottom: 2%;
}

/*effect on dot when mouse hovers or when an image is at a certain position of the possible 4 */
.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

/*animation effect of fading of the slideshow*/
@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/*this is the end of the slideshow part*/

/*footer division that wraps up the webpage*/
.footer {
	background-color: #0009BD;
	text-align: center;
	width: 100%;
	height: 20%;
	margin-bottom: 0px;
	display: inline-block;
	overflow: hidden;
}

/*details about the h5 font inside footer*/
.footer h5 {
	color: black;
 	font-size: 1.2rem;
 	text-align: center;
 	font-family: 'Montserrat', sans-serif;
 	font-weight: bolder;
}

/*details about h6 font inside footer*/
h6 {
	color: #f2f2f2;
 	font-size: 0.6rem;
 	text-align: center;
 	font-family: 'Montserrat', sans-serif;
 	font-size: 1.1rem;
}
/*.reference {
	display: inline-flex;
	width: 100%;
	/*overflow: hidden;*/
/*}*/*/
/*
.reference-icons {
	margin-left: 10%;
	margin-right: 10.5%;
	text-decoration: none;
	padding: 0.73% 1.3%;*/
	/*background-color: white;*/
/*	color: white;*/ 
/*	border-radius: 2%;*/
}