*, *:before, *:after {
    box-sizing: inherit;
}

html {
    scroll-behavior: smooth;
/*    overflow-x: hidden;*/
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: black;
    color: snow;
    font-family: 'Baloo Bhai 2', cursive;
}

.navigation {
	display: flex;
  	flex-direction: column;
  	width: 200px;
  	box-shadow: inset 0px 0px 100vw black;
  	top: 0;
  	position: absolute;
  	position: -webkit-sticky; /* Safari */
  	position: sticky;
}

.vignette {
	margin-left: 200px;
    width: calc(100% - 200px);
    /*height: 100%;*/
/*    box-shadow: inset 0px 0px 100vw black;*/
}

.content {   
/*    padding-bottom: 75px;*/
}

nav {
    text-align: center;
    font-size: 1.5em;
    /*from w3schools*/
    display: block;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    z-index:999;
    top: 0;
    position: absolute;
    border-right: 3px solid snow;
}

nav a {
    display: block;
    user-select: none;
    width: auto;
    padding: 8%;
    margin-right: 1%;
   /* margin-top: 2%;
    margin-left: 2%;*/
    border-radius: 2%;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: transparent;
    color: beige;
}

nav a:hover {
    background-color: #fff;
    color: rgba(0, 0, 0, 0.9);
    transition: .5s;
}

/* Below from https://stackoverflow.com/questions/826782 for disabling select*/
    .noselect {
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none;   /* Safari */
        -khtml-user-select: none;    /* Konqueror HTML */
        -moz-user-select: none;      /* Old versions of Firefox */
        -ms-user-select: none;       /* Internet Explorer/Edge */
        user-select: none;           /* Non-prefixed version, currently
                                        supported by Chrome, Edge, Opera and Firefox */
    }


/* Source: https://stackoverflow.com/questions/396145 */

#home {
    top: 0;
    display: flex;
    flex-direction: column;

}



.location-image {
	/*https://www.freepik.com/premium-vector/navigation-map-street-3d-location-pin-locator-pins-pointer-navigator-maps-locations-marker_6541569.htm*/
    background-image: url('resources/location4.jpg');
    background-color: black;
	background-repeat: no-repeat;
	background-size: cover;
	height:430px;
	width: 100%;
	top:0;
}

/*copied from w3schools*/
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  float: right;
  width: 400px;
  height: 250px;
  /*border: 1px solid #f1f1f1;*/
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  -ms-transform: rotate(10deg); /* IE 9 */
  transform: rotate(10deg);
  margin-top: 7%;
  margin-right: 3%;
}

.dimensions-card {
	width:400px; 
	height:250px;
}

.dimensions-card2 {
	width:130px; 
	height: 130px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: black;
  color: snow;
  transform: rotateY(180deg);
  display:flex;
  justify-content: center;
  align-items: center;
}

.title {
/*https://besthqwallpapers.com/textures/egyptian-texture-papyrus-texture-old-paper-texture-egyptian-ornaments-retro-background-84581*/
    background-image: url(resources/papyrus3.jpg);
    background-size: cover;
    background-color: #c99868;
    width:100%;
    display: inline-flex;
    overflow:hidden;
    font-family: 'Piedra', cursive;
/*    width: 85%;*/
}

.title p {
	width: 100%;
	font-size: 70px;
    font-weight: bold;
}

.red {
	color: #FF0000;
	padding-right: :3px;
}

.white {
	color: white;
	padding: 0;
}

.yellow {
	color: #FFFF00;
	padding: 0;
}

.black {
	color: black;
	padding-left: : 3px;
}


h1 {
    margin: auto;
    margin-top: 0;
    font-size: 300%;
    cursor: default;
    margin-bottom: 50px;
    
}

#about header {
	box-shadow: inset 0px 0px 80vw black;
	width: 100%;
	text-align: center;
}

p {
    font-size: 130%;
    line-height: 150%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
}

#projects {
	margin-top: 5%;
}

#about {
	margin-top: 5%;
}

.projects-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	background-color: black;
	height: 1000px;
	margin-right: 5%;
	align-content: center;
}

@media screen and (max-width: 650px) {
	.projects-container {
		width:100%;
	}

	.projects-links {
		width: 100%;
		padding: 5px;
	}
}

.projects-links {
	width: 500px;
	text-align: center;
	text-decoration: none;
	display: flex;
	flex-direction: column;
	padding: 15px;
}

.project-links p {
	text-align: center;
	font-weight: bold;
	color: snow;
	font-size: 0.5em;
	padding-left: 0;
	padding-right: 0;
}

.project-links a {
	text-align: center;
	color: #0009BD;
}

.projects-images {
	width: 100%;
	display: block;
	height:350px;
	filter: brightness(90%);
}

#science {
	transition: 1s ease-out;
}

#video {
	transition: 1s ease-out;
}

#sound {
	transition: 1s ease-out;
}

#comic {
	transition: 1s ease-out;
}

#science:hover {
	background-color: white;
	color: black;
	border-radius: 15px;
	transition: 1s ease-out;
}

#comic:hover {
	background-color: white;
	color: black;
	border-radius: 15px;
	transition: 1s ease-out;
}

#sound:hover {
	background-color: white;
	color: black;
	border-radius: 15px;
	transition: 1s ease-out;
}

#video:hover {
	background-color: white;
	color: black;
	border-radius: 15px;
	transition: 1s ease-out;
}


#science1 {
	background-image: url('resources/science1.png');
	background-color: black;
	background-size: cover;
	background-repeat: no-repeat;
	transition: 1s ease-out;

}


#comic1 {
	background-image: url('resources/comic1.png');
	background-color: black;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: black;
	transition: 1s ease-out;
}

#sound1 {
	background-image: url('resources/sound1.jpg');
	background-color: black;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: black;
	transition: 1s ease-out;
}

#video1 {
	background-image: url('resources/video1.png');
	background-color: black;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: black;
	transition: 1s ease-out;
}

#science1:hover {
	cursor: pointer;
	filter: brightness(115%);
	box-shadow: none;
	transition: 1s ease-out;
  	transition: background-color 2s ease-out;
  	background-image: url('resources/science2.png');
	background-color: black;
	background-size: cover;
	background-repeat: no-repeat;
}


#comic1:hover {
	cursor: pointer;
	filter: brightness(115%);
	box-shadow: none;
  	transition: 1s ease-out;
  	background-image: url('resources/comic2.jpg');
	background-color: black;
	background-size: cover;
	background-repeat: no-repeat;
}

#sound1:hover {
	cursor: pointer;
	filter: brightness(115%);
	transition: 1s ease-out;
	box-shadow: none;
  	background-image: url('resources/sound2.png');
	background-color: black;
	background-size: cover;
	background-repeat: no-repeat;
}

#video1:hover {
	cursor: pointer;
	filter: brightness(115%);
	box-shadow: none;
  	transition: 1s ease-out;
  	background-image: url('resources/video2.png');
	background-color: black;
	background-size: cover;
	background-repeat: no-repeat;
}


/*#about header {
	border-style: inset;
    border-width: 0;
    border-top-width: 1px;
    background-color: #79b9e1; 
}*/


.interests-container {
	display: flex;
	flex-flow: column wrap;
	justify-content: space-between;

	background-image: url(resources/background-series.jpg);
	background-position: top left;
	background-repeat: repeat;
	background-size: 370px 370px;
	background-color: black;
	height: 1400px;
	align-content: center;

}

.interests-links {
	width: 85%;
	text-align: center;
	text-decoration: none;
	display: flex;
	flex-direction: row;
	vertical-align: middle;
	margin-left: 10%;
	margin-top: 2%;
	margin-bottom: 2%;
}


.interests-images {
	width:45%;
	display: block;
	opacity: 0.6;
	height: 100%;
}

#ghost-text1 {
	width: 55%;
	text-align: center;
	text-align: justify;
}

#ghost-text2 {
	width: 55%;
	text-align: center;
	text-align: justify;
}

#ghost-text3 {
	width: 55%;
	text-align: center;
	text-align: justify;
}

#ghost-text4 {
	width: 55%;
	text-align: center;
	text-align: justify;
}

#sports1 {
	/*https://www.befunky.com/create/collage/*/
	background-image: url('resources/sports.jpg');
	background-color: black;
	background-size: cover;
	background-repeat: no-repeat;
	height: 150px;
	border-radius: 15px;
}

#sports:hover {
	transition: 0.7s ease-out;
	border-radius: 15px;
}

#sports1:hover{
	opacity: 1;
	transition: 0.7s ease-out;
}


#food1 {
	/*https://nohat.cc/f/free-sushi-icons/comvecteezy149773-201908141134.html*/
	background-image: url('resources/sushi.jpg');
	background-color: black;
	background-size: cover;
	background-repeat: no-repeat;
	height: 255px;
	border-radius: 15px;
}

#food:hover {
	transition: 0.7s ease-out;
	border-radius: 15px;
}

#food1:hover {
	opacity: 1;
	transition: 0.7s ease-out;
}


#highschool1 {
	/*https://www.google.com/url?sa=i&url=https%3A%2F%2Fmahgoub.com%2Fmobile%2Far%2Fprojects&psig=AOvVaw08TbD1bJJ5GjUlsAWq4tdQ&ust=1593358831225000&source=images&cd=vfe&ved=0CA0QjhxqFwoTCOiOnJGrouoCFQAAAAAdAAAAABAD*/
	background-image: url('resources/highschool.jpg');
	background-color: black;
	background-size: cover;
	background-repeat: no-repeat;
	height: 200px;
	border-radius: 15px;

}

#highschool:hover {
	transition: 0.7s ease-out;
	border-radius: 15px;
}

#highschool1:hover {
	opacity: 1;
	transition: 0.7s ease-out;
}

#program1 {
	/*https://www.google.com/url?sa=i&url=https%3A%2F%2Fglobalscholars.yale.edu%2Fyygs&psig=AOvVaw212xsXD_s-vROq6jkrQqqF&ust=1593359017889000&source=images&cd=vfe&ved=0CA0QjhxqFwoTCKDIz5irouoCFQAAAAAdAAAAABAD*/
	background-image: url('resources/program.jpg');
	background-color: black;
	background-size: cover;
	background-repeat: no-repeat;
	height: 300px;
	border-radius: 15px;
}

#program:hover {
	transition: 0.7s ease-out;
	border-radius: 15px;
}

#program1:hover {
	opacity: 1;
	transition: 0.7s ease-out;
}

.footer {
    background-color: black;
    color: beige;
    border-color: snow;
    border-style: inset;
    border-width: 0;
    border-top-width: 1px;
    padding: 0.7%;
    width:100%;
    margin-left: 200px;
    width: calc(100% - 200px);
    bottom: 0px;
}

.icons {
	display: flex;
  	justify-content: center;
}

/* code copied from w3schools */
    .fa {
        padding: 20px;
        font-size: 30px;
        width: 80px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
    }

    .fa:hover {
        opacity: 0.5;

    }

    .fa-facebook {
        background: #3B5998;
        color: white;
        border-radius: 100%;
    }

    .fa-twitter {
        background: #55ACEE;
        color: white;
        border-radius: 100%;
    }

    .fa-instagram {
    	/*from https://stackoverflow.com/questions/37751375/instagram-new-logo-css-background*/
        background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
        color: white;
        border-radius: 100%;
        
    }

    .icons a {
        font-size: 1.5em;
        text-align: center;
        margin: auto;
    }

    .icons p {
        width: 100%;
        padding: 0;
        left: 40%;
    }

/* Positioning here to ensure override */
    @media screen and (max-width: 650px) {
        nav a {
            padding: 3%;
            border-right: none;
        }

        h1 {
            width: 90%;
            font-size: 20px;
            margin-bottom: 5px;
/*            line-height: 0.6em;*/
        }

        .interests-container {
        	height: 600px;
        }

        .interests-links {
        	margin-left: 5px;
        	margin-right: 5px;
        }
  	
		.location-image {
			background-size: contain;
			background-size: 100% 170px;
			max-width: 414px;
			height: 170px;
		}
		.flip-card {
			width: 120px;
			height: 70px;
		}
		.dimensions-card {
			width: 120px;		
			height: 70px;
		}

		.dimensions-card2 {
			width: 30px;
			height:30px;
		}
		.flip-card-inner {
			width: 120px;
			height: 70px;
		}	
		.title {
  			height: 70px;
  		}

  		.title p{
  			font-size: 25px;
  		}

        p {
            padding-left: 7%;
            padding-right: 7%;
            font-size: 75%;
        }
    	#ghost-text1 {
    		width: 65%;
    		text-align: center;
    	}
    	#ghost-text2 {
    		width: 65%;
    		text-align: center;
    	}

    	#ghost-text3 {
    		width: 65%;
    		text-align: center;
    	}
    	#ghost-text4 {
    		width: 65%;
    		text-align: center;
    	}

        #projects {
        	margin-top: 10%;
        }

        .projects-container {
        	height:1500px;
        }

        .projects-images {
        	height: 260px;
        }
        #science1 {
        	background-size: cover;
        }

        #sound1 {
        	background-size: cover;
        }

        #video1 {
        	background-size: cover;
        }

        #comic1 {
        	background-size: cover;
        }
        #science {
        	margin: 5px;
        }

        #sound {
        	margin: 5px;
        }

        #video {
        	margin: 5px;
        }

        #comic {
        	margin: 5px;
        }

        #science:hover {
        	border-radius: 7px;
        }

        #sound:hover {
        	border-radius: 7px;
        }

        #video:hover {
        	border-radius: 7px;
        }

        #comic:hover {
        	border-radius: 7px;
        }
        .navigation {
  			width: 100%;
  			position: absolute;
  			position: sticky;
  			top: 0;
  			z-index: 999;
		}

		nav {
			display: flex;
  			flex-direction: row;
  			justify-content: space-between;
		}

		body {
			font-size:0.7em;
		}

		.vignette {
			margin-top: 25%;
			margin-left: 0;
			margin-right: 0;
			width:100%;
		}

		#sports1 {
			height: 50px;
		}

		#sports {
			height: 50px;
			width: 90%;
		}

		#highschool1 {
			height: 70px;
		}

		#highschool {
			height: 70px;
			width: 90%;
		}

		#food1 {
			height: 90px;
		}

		#food {
			height: 90px;
			width: 90%;
		}

		#program1 {
			height: 100px;
		}

		#program {
			height: 100px;
			width: 90%;
		}
		.footer {
			margin-left: 0;
			margin-right: 0;
			width:100%;
		}

		.about {
			padding: 0;
			margin-bottom: 0;
		}

		.fa {
        	margin: 5px 2px;
		}

		.interests-images p {
			font-size: 15px;
		}

    }